body{
    background-color: #111111;
    overflow: hidden;
}

img{
    position: absolute;
    top: 200px;
    left: 500px;
    scale: 50%
}

#floor{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: gray;
    bottom: 0;
}
.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    /*left: 500px;*/
    background-color: white;
    border-radius: 50%;
    visibility: visible;
}

#arrow{
    position: absolute;
    width: 20px;
    /*height: 100px;*/
    background-color: white;
    border-radius: 10%;
    transform-origin: 50% 0%;
}

label{
    color: white;
    user-select: none;
}

span{
    color: white;
    user-select: none;
}


:root{
    --rot: 50deg;
    --bouncesize: 120%;
    --borderradiussize: 50%;
}

@keyframes explode {
    0%{
        /*opacity: 100%;*/
        transform: scale(1);
    }
    100% {
        /*opacity: 0%;*/
        transform: scale(2);
    }

}

.explode{
    animation: explode 0.25s ease-in 0s 1 normal;
}

@keyframes blinking {
    0%{
        opacity: 100%
    }
    100% {
        opacity: 0%;
    }

}

.blinking{
    animation: blinking 0.1s linear 0s infinite alternate;
}


@keyframes bounce {
    0%{
        transform: translateY(0px) rotateX(0deg);
    }
    50% {
        transform: translateY(-5px) rotateX(var(--rot));
    }
}

.bounce{
    animation: bounce 0.2s ease-in-out 0s 1 normal;
}

.shard{
    /*animation: shard 0.5s ease-in-out 0s 1 normal;*/
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #88aaff;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-100px);
    }
}

.float{
    animation: float 1s ease-in 0s 1 normal;
}

.scoretext{
    position: absolute;
    font-size: 20px;
    color: white;
    user-select: none;
    opacity: 50%
}

.wall{
    position: absolute;
    background-color: #777766;
    border-radius: 0;
    border: 1px solid #555544;
    text-align: center;
}

@keyframes wallbounce {
    0%{
        border-radius: 0;
    }
    50% {
        border-radius: 50%;
        transform: scale(var(--bouncesize));
    }

}

.bouncingwall{
    animation: wallbounce 0.2s ease-in 0s 1 normal;
}

.bouncewall{
    position: absolute;
    background-color: #974caf;
    text-align: center;
}

.slimewall{
    position: absolute;
    background-color: #5eaf4c;
    text-align: center;
}

#tutorial{
    /*position: absolute;*/
    margin-left: 35%;
    /*margin: auto;*/
    font-size: 25px;
    color: rgba(255, 255, 255, 0.3);
}

.peg{
    position: absolute;
    background-color: cornflowerblue;
    /*border-radius: 50%;*/
    border: 2px solid dodgerblue;
    text-align: center;
}

.multiball{
    position: absolute;

    /*border-radius: 50%;*/
    border: 2px solid #720841;
    background: url("img/split.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b65767;
    text-align: center;

}

.movingpeg{

}

.floorpeg{
    position: absolute;
    /*border-radius: 50%;*/
    border: 2px solid #94945e;
    background: url("img/angel_save.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #cbcb35;
    text-align: center;
}

.keypeg{
    position: absolute;
    /*background-color: #a34cf5;*/
    /*border-radius: 50%;*/
    background: url("img/key.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #88aaff;
    border: 2px solid #2289e5;
    text-align: center;
}

body{
    background-image: url("/img/bg.jpg");
    background-color: #666666;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.selected{
    border: 3px dashed #cbcb35;
}